
<div class="row align-items-start">
 <div class="card-container-flex"> 

            <div class="category card">
              <div class="card-header">
                  <i class="fas fa-address-card"></i> Category Data
              </div>
              <div class="card-body">
                <app-category></app-category>
              </div>
              <div class="card-footer">
              </div>
            </div>


            <!-- Product -->
            <div class="product card">
                <div class="card-header">
                    <i class="fas fa-address-card"></i> Product Data
                </div>
                <div class="card-body">
             <app-product></app-product>
                </div>
                <div class="card-footer">
  
                </div>
              </div>
</div>
</div>
<div class="row align-items-center">
    <div class="category card">
        <div class="card-header">
            <i class="fas fa-address-card"></i> Category Data
        </div>
        <div class="card-body">
      <table class="table table-striped">
        <thead>
          <tr>
            <th>#</th>
            <th>Category Name</th>
            <th>Active</th>
            <th></th>
            <th></th> 
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>1</td>
            <td>cat1</td>
            <td>false</td>
            <td><i class="fas fa-edit"></i></td>
            <td><i class="fas fa-trash-alt"></i></td>
          </tr>
        </tbody>
      </table>
        </div>
        <div class="card-footer">
        </div>
      </div>
</div>