.card-container-flex{
    display: flex;
    top:0;
    left:0;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 20px;
    align-content: stretch;
    margin-bottom: 20px;
}
.category{
    flex-grow: 1;
    margin-right: 3em;
    margin-left: 3em;
}
.product{
    flex-grow: 3;
}

